
body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

form {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

div {
    background-color: lightgrey;
    width: 35%;
    padding: 20px;
    margin: auto;
    font-size: 15px;
    text-align: left;
}
p.agreement_head {
    font-size: 18px;
}

input[type="text"],
input[type="password"] {
  width: 30%;
  padding: 10px 8px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

form [name="department"] {
  width: 30%;
  padding: 10px 8px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

input[type="submit"],
input[type="Submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

input[type="reset"],
input[type="Reset"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}
/* button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
} */

