<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>seats sellection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/adminbooking.css}"/>
    <script>

    function sellectAll(){
      var seatNOs  =document.getElementsByName("seatNO");
      if(seatNOs.checked==true){
        for(var i=0;i<seatNOs.length;i++){
          seatNO[i].checked = true;
        }}
      else{
        for(var i=0;i<seatNOs.length;i++)
        seatNO[i].checked = false;}
    }

    </script>

</head>
<body>
  <h3> Time slot </h3>
    Start time:
    <form>
      <select name="time">
        <option value="9:00">9:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00">12:00</option>
        <option value="13:00">13:00</option>
        <option value="14:00">14:00</option>
        <option value="15:00">15:00</option>
        <option value="16:00">16:00</option>
      </select>
    </form>
    Ended time:
    <form>
      <select name="time">
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00">12:00</option>
        <option value="13:00">13:00</option>
        <option value="14:00">14:00</option>
        <option value="15:00">15:00</option>
        <option value="16:00">16:00</option>
        <option value="17:00">17:00</option>
      </select>
    </form><br><br>
    <form>
      <input type="radio" name="weekdays" value="Monday" checked>Monday
      <input type="radio" name="weekdays" value="Tuesday">Tuesday
      <input type="radio" name="weekdays" value="Wednesday">Wednesday
      <input type="radio" name="weekdays" value="Thursday">Thursday
      <input type="radio" name="weekdays" value="Friday">Friday
    </form><br>

    <p>The character means block and the number means seats</p>
    <table class="table1" >
    <tr>
      <th align="center" style="width:100px;">Seat No</th>
      <th align="center" style="width:150px;">Status</th>
      <th align="center" style="width:80px;">Seat sellect</th>
    </tr>
    <tr>
      <td align="center">A1</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">A2</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">A3</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">A4</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">A5</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">A6</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">B1</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">B2</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">B3</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">B4</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">B5</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">B6</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">C1</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">C2</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">C3</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">C4</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">C5</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
    <tr>
      <td align="center">C6</td>
      <td>Available</td>
      <td align="center"><input type="checkbox" name="seatNO" value="1A"></td>
    </tr>
  </table><br>

      <input type="button" value="SellectAll" onclick="sellectAll()" />
      <button type="submit" >Confirm</button> <br>

</body>
</html>
