<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link rel="stylesheet" media="screen" th:href="@{/css/display.css}"/>
    <title>All Students </title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $.getJSON('http://localhost:8080/bookings/all', function(data) {
            for(let i = 0; i < data.length; i++){
                var text = `<tr>
                   <td> ${data[i].seatNo}</td>
                   <td> ${data[i].dateAndTime}</td>
                   <td> ${data[i].length}</td>
                   <td> ${data[i].student}</td>
                   </tr>`
                $(".student").append(text);
            }

        });
    </script>
</head>
<h3> All Booking Slot  </h3>
<body onload = "onLoad();">
<div class="mypanel"></div>
<table class = "student">
    <thead>
    <tr>
        <th> Seat Number </th>
        <th> Date and Time </th>
        <th> Length </th>
        <th> Student </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>