<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/register.css}"/>
</head>

<body>
<p><img src="https://mybristol.bris.ac.uk/portal/media/skins/universality/common/uob/images/logo-uob.svg" /></p><br>
<h1> Faculty of Engineering </h1>
<h2> Lab Booking System agreements </h2>
    <p>
    <p class="agreement_head">  Your booking was successful! Please ensure you bring your UCARD with you on the day.
Check your email for confirmation inforamtion. Thank you. </p>
<a th:href="@{/}" class="w3-button w3-block">Return to Home</a>
</body>

