<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>seats sellection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/booking.css}"/>
</head>
<body>
    <form action="#" th:action="@{/bookings/book}" th:object="${tempbooking}" method="post">
        <h3> Time slot </h3>
          Start time:
            <select th:field="*{startTime}">
              <option th:value="9" th:text="9"></option>
              <option th:value="10" th:text="10"></option>
              <option th:value="11" th:text="11"></option>
              <option th:value="12" th:text="12"></option>
              <option th:value="13" th:text="13"></option>
              <option th:value="14" th:text="14"></option>
              <option th:value="15" th:text="15"></option>
              <option th:value="16" th:text="16"></option>
            </select>

           End time:
              <select th:field="*{endTime}">
                  <option th:value="10" th:text="10"></option>
                  <option th:value="11" th:text="11"></option>
                  <option th:value="12" th:text="12"></option>
                  <option th:value="13" th:text="13"></option>
                  <option th:value="14" th:text="14"></option>
                  <option th:value="15" th:text="15"></option>
                  <option th:value="16" th:text="16"></option>
                  <option th:value="17" th:text="17"></option>
              </select>

        <br><br>

        Day:
          <select th:field="*{day}">
            <option th:value="MON" th:text="MON"></option>
            <option th:value="TUE" th:text="TUE"></option>
            <option th:value="WED" th:text="WED"></option>
            <option th:value="THU" th:text="THU"></option>
            <option th:value="FRI" th:text="FRI"></option>
          </select>

        <table class="table1" >
          <tr>
            <th align="center" style="width:100px;">Seat</th>
            <th align="center" style="width:150px;">Status</th>
            <th align="center" style="width:80px;">Sellect</th>
          </tr>
          <tr>
            <td align="center">A1</td>
            <td>Available</td>
            <td align="center"><input type="radio" th:field="*{seatNo}" th:value="A1"></td>
          </tr>
          <tr>
            <td align="center">A2</td>
            <td>Available</td>
            <td align="center"><input type="radio" th:field="*{seatNo}" th:value="A2"></td>
          </tr>
          <tr>
            <td align="center">A3</td>
            <td>Available</td>
            <td align="center"><input type="radio" th:field="*{seatNo}" th:value="A3"></td>
          </tr>
          <tr>
            <td align="center">B1</td>
            <td>Available</td>
            <td align="center"><input type="radio" th:field="*{seatNo}" th:value="B1"></td>
          </tr>
          <tr>
            <td align="center">B2</td>
            <td>Available</td>
            <td align="center"><input type="radio" th:field="*{seatNo}" th:value="B2"></td>
          </tr>
          <tr>
            <td align="center">B3</td>
            <td>Available</td>
            <td align="center"><input type="radio" th:field="*{seatNo}" th:value="B3"></td>
          </tr>
        </table>

        <br><br>

        User:
           <select th:field="*{student}">
               <option th:value="1" th:text="1"></option>
               <option th:value="2" th:text="2"></option>
           </select>

        <br>
        <input type="submit" value="Submit" />
        <br>

    </form>
    <br><br>
</body>
</html>
