<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/edit_users.css}"/>
</head>
<body>
	<h1>Edit User</h1>
    <form action="#" th:action="@{/edituser}" th:object="${student}" method="post">
        <p th:text="'Username: ' + ${student.username}" />
      <p>First Name: <input type="text" th:field="*{name}" /></p>
      <p>Last Name: <br> <br> <input type="text" th:field="*{lastname}" /></p>
      <p>Email: <br> <br> <input type="text" th:field="*{email}" /></p>
      <p>Ucard: <br> <br> <input type="text" th:field="*{ucard}" /></p>
      <p><input type="submit" value="Submit" /></p>
    </form>
    <a th:href="@{/}" Class="btnU btnU-large">Return to Home</a>
</body>
</html>
