<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p><img src="https://mybristol.bris.ac.uk/portal/media/skins/universality/common/uob/images/logo-uob.svg" /></p></br>
    <h1> Faculty of Engineering </h1>
      <P>
      User Id:<br>
      <input type="text" th:field="*{userid}" /></p><br>
      Password:<br>
      <input type="password" th:field="*{password}" /> <a href=password-refound.html> forgotten your password? </a><br>
      <br></p>
      <p><input type="submit" value="Login"> <input type="submit" value="Register"></P>
</body>
</html>
